* { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid black;
}


body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding: 0;
    margin: 0;
    background: grey;
}

.title {
    display: flex;
   
}


table, th, td {
    border: 1px solid black;
}

td{
    text-align: center;
}

table{
    margin-top: 30px;
    min-width: 500px;
}

.add-book-button {
    max-width: 150px;
    height: 50px;
    margin: 25px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

